.App {
  font-size: 1.2rem;

  .nav {
    margin: auto;
    padding: 15px;
    position: fixed;
    width: 100%;

    .nav-links {
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      margin: auto 10px;
      height: 50px;

      a {
        text-decoration: none;
        color: black;
        font-size: 1.5rem;
        color: #ffffff;
      }

      .user-links {
        margin: auto 10px;
        a {
          margin: auto 10px;
        }

        .logout-btn {
          font-weight: bold;
          color: #fff;
          background-color: #9013fe;
          border: none;
          border-radius: 25px;
          padding: 10px 25px;
          margin-right: 20px;
          cursor: pointer;
        }
        .logout-btn:hover {
          color: #9013fe;
          background-color: #ffffff;
        }
      }
    }
  }

  .home,
  .client-home {
    display: flex;
    flex-flow: column;
    text-align: center;
    margin: auto;
    padding-top: 75px;
    .instructor-classes,
    .client-classes {
      display: flex;
      flex-flow: row;
      flex-wrap: wrap;
      margin-top: 20px;
      justify-content: space-evenly;
      .instructor-class,
      .client-class {
        padding: 20px 20px;
        font-size: 1rem;
        width: 20%;
        line-height: 1.2rem;
        text-align: left;
        background: #ffffff;
        letter-spacing: 0.1rem;

        img {
          height: auto;
          width: 100%;
        }

        .instructor-class-label,
        .client-class-label {
          color: #ffffff;
          text-align: center;
          font-size: 2rem;
          font-weight: bold;
        }

        .instructor-class-name {
          font-weight: bold;
          text-transform: uppercase;
        }

        .instructor-class-group {
          display: flex;
          .class-prop {
            margin: 0px 15px 0px 0px;
          }
        }

        .class-label {
          font-size: 0.8rem;
        }
        .class-prop {
          border-radius: 5px;
          background-color: #ffffff;
        }
        .view-details-btn {
          margin: 5px auto;
          color: #fff;
          background-color: #ff8c42;
          border: none;
          border-radius: 25px;
          font-size: 0.9rem;
          font-weight: bold;
          padding: 5px 20px;
          cursor: pointer;
          outline: none;
        }

        .view-details-btn:hover {
          color: #ff8c42;
          background-color: #ffffff;
          border: none;
        }
      }
    }

    .add-class-btn {
      margin: 5px auto;
      color: #fff;
      background-color: #ff8c42;
      border: none;
      border-radius: 25px;
      font-size: 1.5rem;
      font-weight: bold;
      padding: 10px 25px;
      cursor: pointer;
      outline: none;
    }

    .add-class-btn:hover {
      color: #ff8c42;
      background-color: #ffffff;
      border: non;
    }
  }

  .client-login {
    text-align: center;
    margin: 30px 0px 0px 0px;
    padding-top: 200px;
    background-image: url("../assets/groupwo.jpg");
    height: 76vh;
    .login-section {
      box-shadow: 0 10px 10px grey;
      padding: 20px 40px;
      margin: 15px auto;
      font-size: 1rem;
      width: 25%;
      line-height: 1.2rem;
      border-radius: 20px;
      text-align: left;
      background: linear-gradient(
        rgba(68, 215, 182, 0.9),
        rgba(50, 197, 255, 0.8)
      );

      .login-label {
        color: #ffffff;
        text-align: center;
        font-weight: bold;
        font-size: 1.5rem;
      }

      .login-form {
        display: flex;
        flex-flow: column;
        margin: 10px auto;

        input {
          margin: 5px auto;
          width: 70%;
          height: 25px;
          border-radius: 5px;
          border: none;
          box-shadow: 0 0px 5px grey;
          padding: 10px 10px;
          font-size: 1rem;
        }

        .login-btn {
          margin: 5px auto;
          color: #fff;
          background-color: #ff8c42;
          border: none;
          border-radius: 25px;
          font-size: 1.1rem;
          font-weight: bold;
          padding: 5px 20px;
          cursor: pointer;
          outline: none;
        }

        .login-btn:hover {
          color: #ff8c42;
          background-color: #ffffff;
          border: none;
        }

        .redirect-register {
          margin: auto;
          text-decoration: none;
          color: #ffffff;
        }
      }
    }
  }

  .login {
    text-align: center;
    margin: auto;
    padding-top: 17rem;
    height: 72.2vh;
    background-image: url("../assets/athletes-endurance-energy-685534.jpg");

    img {
      height: auto;
      width: 7rem;
    }

    .login-section {
      box-shadow: 0 10px 10px grey;
      padding: 70px 40px;
      margin: 15px auto;
      font-size: 1rem;
      width: 25%;
      line-height: 1.2rem;
      border-radius: 5px;
      text-align: left;
      background: linear-gradient(
        rgba(68, 215, 182, 0.9),
        rgba(50, 197, 255, 0.8)
      );

      .login-label {
        color: #ffffff;
        text-align: center;
        font-weight: bold;
        font-size: 1.5rem;
      }

      .login-form {
        display: flex;
        flex-flow: column;
        margin: 10px auto;

        input {
          margin: 5px auto;
          width: 70%;
          height: 25px;
          border-radius: 5px;
          border: none;
          box-shadow: 0 0px 5px grey;
          padding: 10px 40px;
          font-size: 0.9rem;
          text-transform: uppercase;
        }

        .login-btn {
          margin: 5px auto;
          color: #fff;
          background: linear-gradient(90deg, #d8493c, #f77d0c);
          border: none;
          border-radius: 5px;
          font-size: 0.9rem;
          font-weight: bold;
          padding: 1rem 8rem;
          cursor: pointer;
          outline: none;
          letter-spacing: 0.2rem;
          text-transform: uppercase;
        }

        .redirect-register {
          margin: auto;
          text-decoration: none;
          color: #ffffff;
        }
      }
    }
  }

  .register {
    text-align: center;
    margin: auto;
    padding-top: 17rem;
    height: 72.2vh;
    background-image: url("../assets/athletes-endurance-energy-685534.jpg");

    .register-section {
      box-shadow: 0 10px 10px grey;
      padding: 70px 40px;
      margin: 15px auto;
      font-size: 1rem;
      width: 25%;
      line-height: 1.2rem;
      border-radius: 5px;
      text-align: left;
      background: linear-gradient(
        rgba(68, 215, 182, 0.9),
        rgba(50, 197, 255, 0.8)
      );

      .register-label {
        color: #ffffff;
        text-align: center;
        font-size: 1.5rem;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
      }

      .register-form {
        display: flex;
        flex-flow: column;
        margin: 10px auto;

        input {
          margin: 5px auto;
          width: 70%;
          height: 25px;
          border-radius: 5px;
          border: none;
          box-shadow: 0 0px 5px grey;
          padding: 10px 40px;
          font-size: 1rem;
        }

        .register-btn {
          margin: 5px auto;
          color: #fff;
          background: linear-gradient(90deg, #d8493c, #f77d0c);
          border: none;
          border-radius: 5px;
          font-size: 0.9rem;
          font-weight: bold;
          padding: 1rem 8rem;
          cursor: pointer;
          outline: none;
          letter-spacing: 0.2rem;
          text-transform: uppercase;
        }

        .redirect-login {
          margin: auto;
          text-decoration: none;
          color: #ffffff;
        }
      }
    }
  }

  .client-register {
    text-align: center;
    margin: 30px 0px 0px 0px;
    padding-top: 200px;
    background-image: url("../assets/groupwo.jpg");
    height: 76vh;
    .register-section {
      box-shadow: 0 10px 10px grey;
      padding: 20px 40px;
      margin: 15px auto;
      font-size: 1rem;
      width: 25%;
      line-height: 1.2rem;
      border-radius: 20px;
      text-align: left;
      background: linear-gradient(
        rgba(68, 215, 182, 0.9),
        rgba(50, 197, 255, 0.8)
      );

      .register-label {
        color: #ffffff;
        text-align: center;
        font-weight: bold;
        font-size: 1.5rem;
      }

      .register-form {
        display: flex;
        flex-flow: column;
        margin: 10px auto;

        input {
          margin: 5px auto;
          width: 70%;
          height: 25px;
          border-radius: 5px;
          border: none;
          box-shadow: 0 0px 5px grey;
          padding: 10px 10px;
          font-size: 1rem;
        }

        .register-btn {
          margin: 5px auto;
          color: #fff;
          background-color: #9013fe;
          border: none;
          border-radius: 25px;
          font-size: 1.1rem;
          font-weight: bold;
          padding: 5px 20px;
          cursor: pointer;
          outline: none;
        }
        .register-btn:hover {
          color: #9013fe;
          background-color: #ffffff;
          border: none;
        }

        .redirect-login {
          margin: auto;
          text-decoration: none;
          color: #ffffff;
        }
      }
    }
  }

  .update-class-form {
    margin: auto 150px;
    display: flex;
    padding-top: 15rem;

    img {
      width: 50rem;
      height: auto;
      border-radius: 5px;
    }

    form {
      margin: auto 20px;

      div {
        text-align: left;
        font-size: 0.9rem;
        input {
          margin: 5px auto;
          width: 100%;
          height: 25px;
          border-radius: 5px;
          border: none;
          box-shadow: 0 0px 5px grey;
          padding: 10px 10px;
          font-size: 1rem;
        }
      }

      .form-group {
        display: flex;
        margin: 15px auto;
        input {
          margin: auto 5px;
        }
      }

      .form-label {
        font-size: 2.5rem;
        text-align: center;
        background-color: #ff8c42;
        color: #ffffff;
        border-radius: 1rem;
        font-weight: bold;
      }

      .update-name {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 2rem;
      }

      .back-btn {
        background-color: #ff4a4a;
        border: none;
        padding: 10px;
        margin: 10px auto;
        border-radius: 25px;
        color: #ffffff;
        cursor: pointer;
        font-weight: bold;
      }
      .back-btn:hover {
        background-color: #ffffff;
        color: #ff4a4a;
      }

      .update-form-buttons {
        display: flex;
        .update-btn {
          margin: 5px auto;
          color: #fff;
          background-color: #ff8c42;
          border: none;
          border-radius: 25px;
          font-size: 1.5rem;
          font-weight: bold;
          padding: 10px 25px;
          cursor: pointer;
          outline: none;
        }

        .update-btn:hover {
          color: #ff8c42;
          background-color: #ffffff;
          border: none;
        }

        .delete-btn {
          margin: 5px auto;
          color: #fff;
          background-color: #9013fe;
          border: none;
          border-radius: 25px;
          font-size: 1.5rem;
          font-weight: bold;
          padding: 10px 25px;
          cursor: pointer;
          outline: none;
        }

        .delete-btn:hover {
          color: #9013fe;
          background-color: #ffffff;
          border: none;
        }
      }
    }
  }

  .add-class-form {
    margin: auto 150px;
    display: flex;
    padding-top: 15rem;

    img {
      width: 50rem;
      height: auto;
      border-radius: 5px;
    }

    form {
      margin: auto;
      div {
        text-align: left;
        font-size: 0.9rem;
      }
      input {
        margin: 5px auto;
        width: 100%;
        height: 25px;
        border-radius: 5px;
        border: none;
        box-shadow: 0 0px 5px grey;
        padding: 10px 10px;
        font-size: 1rem;
      }

      .form-group {
        display: flex;
        margin: 15px auto;
        input {
          margin: auto 5px;
        }
      }

      .form-label {
        font-size: 2.5rem;
        text-align: center;
        background-color: #985dff;
        color: #ffffff;
        border-radius: 1rem;
        font-weight: bold;
      }

      .back-btn {
        background-color: #ff4a4a;
        border: none;
        padding: 10px;
        margin: 10px auto;
        border-radius: 25px;
        color: #ffffff;
        cursor: pointer;
        font-weight: bold;
      }
      .back-btn:hover {
        background-color: #ffffff;
        color: #ff4a4a;
      }

      .add-class-btn {
        margin: 5px auto;
        color: #ffffff;
        background-color: #ff8c42;
        border: none;
        border-radius: 25px;
        font-size: 1.5rem;
        font-weight: bold;
        padding: 10px 25px;
        cursor: pointer;
        outline: none;
      }

      .add-class-btn:hover {
        color: #ff8c42;
        background-color: #ffffff;
      }
    }
  }
}
