.App {
  font-size: 1.2rem;
  .nav {
    margin: 10px auto;

    .nav-links {
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      margin: auto 10px;
      height: 50px;

      a {
        text-decoration: none;
        color: black;
        font-size: 1.5rem;
      }

      .home-link {
        img {
          height: 50px;
        }
      }

      .user-links {
        margin: auto 10px;
        a {
          margin: auto 10px;
        }
      }
    }
  }

  .welcome {
    text-align: center;
    .welcome-header {
      a {
        text-decoration: none;
        margin: 5px auto;
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;
        border-radius: 5px;
        font-size: 1.1rem;
        font-weight: bold;
        padding: 5px 20px;
      }
      .welcome-links {
        display: flex;
        flex-flow: column;
        font-size: 1.5rem;
        margin: 10px auto;
      }
    }
  }

  .home {
    text-align: center;
    margin: 30px 80px;
    .instructor-classes {
      display: flex;
      flex-flow: row;
      margin-top: 20px;
      .instructor-class {
        box-shadow: 0 10px 10px grey;
        padding: 20px 40px;
        margin: auto 20px;
        font-size: 1rem;
      }
    }
    button {
      margin: 5px auto;
      color: #fff;
      background-color: #007bff;
      border-color: #007bff;
      border-radius: 5px;
      font-size: 0.9rem;
      font-weight: bold;
      padding: 5px 20px;
      cursor: pointer;
      outline: none;
    }
  }

  .login {
    text-align: center;
    .login-form {
      display: flex;
      flex-flow: column;
      margin: 10px auto;

      input {
        margin: 5px auto;
        width: 15%;
        height: 25px;
        border-radius: 5px;
        border: none;
        box-shadow: 0 0px 5px grey;
        padding: 10px 10px;
        font-size: 1rem;
      }

      button {
        margin: 5px auto;
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;
        border-radius: 5px;
        font-size: 1.1rem;
        font-weight: bold;
        padding: 5px 20px;
        cursor: pointer;
        outline: none;
      }
    }
  }

  .register {
    text-align: center;

    .register-form {
      display: flex;
      flex-flow: column;
      margin: 10px auto;

      input {
        margin: 5px auto;
        width: 15%;
        height: 25px;
        border-radius: 5px;
        border: none;
        box-shadow: 0 0px 5px grey;
        padding: 10px 10px;
        font-size: 1rem;
      }

      button {
        margin: 5px auto;
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;
        border-radius: 5px;
        font-size: 1.1rem;
        font-weight: bold;
        padding: 5px 20px;
        cursor: pointer;
        outline: none;
      }
    }
  }

  .update-class-form {
    margin: 30px 80px;
    form {
      display: flex;
      flex-flow: column;
      input {
        margin: 5px auto;
        width: 15%;
        height: 25px;
        border-radius: 5px;
        border: none;
        box-shadow: 0 0px 5px grey;
        padding: 10px 10px;
        font-size: 1rem;
      }

      button {
        margin: 5px auto;
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;
        border-radius: 5px;
        font-size: 0.9rem;
        font-weight: bold;
        padding: 5px 20px;
        cursor: pointer;
        outline: none;
      }
    }
  }

  .add-class-form {
    margin: 30px 80px;
    form {
      display: flex;
      flex-flow: column;
      input {
        margin: 5px auto;
        width: 15%;
        height: 25px;
        border-radius: 5px;
        border: none;
        box-shadow: 0 0px 5px grey;
        padding: 10px 10px;
        font-size: 1rem;
      }

      button {
        margin: 5px auto;
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;
        border-radius: 5px;
        font-size: 0.9rem;
        font-weight: bold;
        padding: 5px 20px;
        cursor: pointer;
        outline: none;
      }
    }
  }
}
