.App {
  font-size: 1.2rem;

  .nav {
    margin: -30px auto;
    padding: 16px;
    background: linear-gradient(#3d9de2, #9013fe);
    position: fixed;
    width: 100%;

    .nav-links {
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      margin: auto 10px;
      height: 50px;

      a {
        text-decoration: none;
        color: black;
        font-size: 1.5rem;
        color: #ffffff;
      }

      .home-link {
        img {
          height: 8rem;
          width: auto;
        }
      }

      .user-links {
        margin: auto 10px;
        a {
          margin: auto 10px;
        }

        .login-btn-nav {
          font-weight: bold;
          color: #fff;
          background-color: #ff8c42;
          border-color: #ff8c42;
          border-radius: 25px;
          padding: 10px 25px;
        }
        .login-btn-nav:hover {
          box-shadow: 0 0px 10px #ffffff;
        }

        .register-btn-nav {
          font-weight: bold;
          color: #fff;
          background-color: #9013fe;
          border-color: #9013fe;
          border-radius: 25px;
          padding: 10px 25px;
        }

        .register-btn-nav:hover {
          box-shadow: 0 0px 10px #ffffff;
        }

        .logout-btn {
          font-weight: bold;
          color: #fff;
          background-color: #9013fe;
          border-color: #9013fe;
          border-radius: 25px;
          padding: 10px 25px;
        }
        .logout-btn:hover {
          box-shadow: 0 0px 10px #ffffff;
        }
      }
    }
  }

  .welcome {
    text-align: center;
    .welcome-header {
      a {
        text-decoration: none;
        margin: 5px auto;
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;
        border-radius: 5px;
        font-size: 1.1rem;
        font-weight: bold;
        padding: 5px 20px;
      }
      .welcome-links {
        display: flex;
        flex-flow: column;
        font-size: 1.5rem;
        margin: 10px auto;
      }
    }
  }

  .home {
    text-align: center;
    margin: 30px 80px;
    padding-top: 75px;
    .instructor-classes {
      display: flex;
      flex-flow: row;
      flex-wrap: wrap;
      margin-top: 20px;
      justify-content: space-evenly;
      .instructor-class {
        box-shadow: 0 10px 10px grey;
        padding: 20px 40px;
        margin: 15px 20px;
        font-size: 1rem;
        width: 25%;
        line-height: 1.2rem;
        border-radius: 20px;
        text-align: left;
        background: linear-gradient(
          rgba(68, 215, 182, 0.7),
          rgba(50, 197, 255, 0.7)
        );

        .instructor-class-label {
          color: #ffffff;
          text-align: center;
          font-size: 2rem;
          font-weight: bold;
        }

        .class-label {
          font-size: 0.8rem;
        }
        .class-prop {
          box-shadow: 0 5px 10px grey;
          padding: 10px;
          border-radius: 5px;
          margin-bottom: 10px;
          background-color: #ffffff;
        }
        .view-details-btn {
          margin: 5px auto;
          color: #fff;
          background-color: #ff8c42;
          border-color: #ff8c42;
          border-radius: 25px;
          font-size: 0.9rem;
          font-weight: bold;
          padding: 5px 20px;
          cursor: pointer;
          outline: none;
        }

        .view-details-btn:hover {
          color: #ff8c42;
          background-color: #ffffff;
          border-color: #ffffff;
        }
      }
    }

    .add-class-btn {
      margin: 5px auto;
      color: #fff;
      background-color: #ff8c42;
      border-color: #ff8c42;
      border-radius: 25px;
      font-size: 1.5rem;
      font-weight: bold;
      padding: 10px 25px;
      cursor: pointer;
      outline: none;
    }

    .add-class-btn:hover {
      color: #ff8c42;
      background-color: #ffffff;
      border-color: #ffffff;
    }
  }

  .login {
    text-align: center;
    margin: 30px 0px 0px 0px;
    padding-top: 200px;
    background-image: url("../assets/athletes-endurance-energy-685534.jpg");
    height: 76vh;
    .login-section {
      box-shadow: 0 10px 10px grey;
      padding: 20px 40px;
      margin: 15px auto;
      font-size: 1rem;
      width: 25%;
      line-height: 1.2rem;
      border-radius: 20px;
      text-align: left;
      background: linear-gradient(
        rgba(68, 215, 182, 0.9),
        rgba(50, 197, 255, 0.8)
      );

      .login-label {
        color: #ffffff;
        text-align: center;
        font-weight: bold;
        font-size: 1.5rem;
      }

      .login-form {
        display: flex;
        flex-flow: column;
        margin: 10px auto;

        input {
          margin: 5px auto;
          width: 70%;
          height: 25px;
          border-radius: 5px;
          border: none;
          box-shadow: 0 0px 5px grey;
          padding: 10px 10px;
          font-size: 1rem;
        }

        .login-btn {
          margin: 5px auto;
          color: #fff;
          background-color: #ff8c42;
          border-color: #ff8c42;
          border-radius: 25px;
          font-size: 1.1rem;
          font-weight: bold;
          padding: 5px 20px;
          cursor: pointer;
          outline: none;
        }

        .login-btn:hover {
          color: #ff8c42;
          background-color: #ffffff;
          border-color: #ffffff;
        }

        .redirect-register {
          margin: auto;
          text-decoration: none;
          color: #ffffff;
        }
      }
    }
  }

  .register {
    text-align: center;
    margin: 30px 0px 0px 0px;
    padding-top: 200px;
    background-image: url("/static/media/athletes-endurance-energy-685534.0b911243.jpg");
    height: 76vh;
    .register-section {
      box-shadow: 0 10px 10px grey;
      padding: 20px 40px;
      margin: 15px auto;
      font-size: 1rem;
      width: 25%;
      line-height: 1.2rem;
      border-radius: 20px;
      text-align: left;
      background: linear-gradient(
        rgba(68, 215, 182, 0.9),
        rgba(50, 197, 255, 0.8)
      );

      .register-label {
        color: #ffffff;
        text-align: center;
        font-weight: bold;
        font-size: 1.5rem;
      }

      .register-form {
        display: flex;
        flex-flow: column;
        margin: 10px auto;

        input {
          margin: 5px auto;
          width: 70%;
          height: 25px;
          border-radius: 5px;
          border: none;
          box-shadow: 0 0px 5px grey;
          padding: 10px 10px;
          font-size: 1rem;
        }

        .register-btn {
          margin: 5px auto;
          color: #fff;
          background-color: #9013fe;
          border-color: #9013fe;
          border-radius: 25px;
          font-size: 1.1rem;
          font-weight: bold;
          padding: 5px 20px;
          cursor: pointer;
          outline: none;
        }
        .register-btn:hover {
          color: #9013fe;
          background-color: #ffffff;
          border-color: #ffffff;
        }

        .redirect-login {
          margin: auto;
          text-decoration: none;
          color: #ffffff;
        }
      }
    }
  }

  .update-class-form {
    margin: 30px 80px;
    display: flex;
    padding-top: 100px;

    form {
      margin: auto;
      div {
        text-align: left;
        font-size: 0.9rem;
        input {
          margin: 5px auto;
          width: 100%;
          height: 25px;
          border-radius: 5px;
          border: none;
          box-shadow: 0 0px 5px grey;
          padding: 10px 10px;
          font-size: 1rem;
        }
      }

      .update-form-buttons {
        display: flex;
        .update-btn {
          margin: 5px auto;
          color: #fff;
          background-color: #ff8c42;
          border-color: #ff8c42;
          border-radius: 25px;
          font-size: 1.5rem;
          font-weight: bold;
          padding: 10px 25px;
          cursor: pointer;
          outline: none;
        }

        .update-btn:hover {
          color: #ff8c42;
          background-color: #ffffff;
          border-color: #ffffff;
        }

        .delete-btn {
          margin: 5px auto;
          color: #fff;
          background-color: #9013fe;
          border-color: #9013fe;
          border-radius: 25px;
          font-size: 1.5rem;
          font-weight: bold;
          padding: 10px 25px;
          cursor: pointer;
          outline: none;
        }

        .delete-btn:hover {
          color: #9013fe;
          background-color: #ffffff;
          border-color: #ffffff;
        }
      }
    }
  }

  .add-class-form {
    margin: 30px 80px;
    display: flex;
    padding-top: 100px;
    img {
      width: 60rem;
    }
    form {
      margin: auto;
      div {
        text-align: left;
        font-size: 0.9rem;
      }
      input {
        margin: 5px auto;
        width: 100%;
        height: 25px;
        border-radius: 5px;
        border: none;
        box-shadow: 0 0px 5px grey;
        padding: 10px 10px;
        font-size: 1rem;
      }

      .add-class-btn {
        margin: 5px auto;
        color: #fff;
        background-color: #ff8c42;
        border-color: #ff8c42;
        border-radius: 25px;
        font-size: 1.5rem;
        font-weight: bold;
        padding: 10px 25px;
        cursor: pointer;
        outline: none;
      }
    }
  }
}
